<html>
	<head>
		<title>DayOne - Admin panel</title>
		<link href="/main.css" rel="stylesheet" >
	</head>
	<body>
		<div class='container'>
			<h1>Welcome to Admin Panel</h1>
		</div>
	</body>
</html>
